body {
  background: #d9d9d9;
}

.main-page-container {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #08072e,
    #08072e 50vh,
    #d9d9d9 50vh,
    #d9d9d9
  );
  padding: 0 15px;
  margin-top: 100px;
  color: white;
  display: flex;
  flex-direction: column;
}

.main-page-container > .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.main-page-container > .container > .box-right {
  width: 945px;
  height: 972px;
  flex-shrink: 0;
}

.main-page-container > .container > .box-right > .uper-box {
  /* border: 1px solid green; */
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-page-container > .container > .box-right > .uper-box > button {
  border-radius: 15px;
  background: #a51c30;
  width: 170px;
  height: 62px;
  flex-shrink: 0;
  border: none;
  color: white;
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 51px;
}

.main-page-container > .container > .box-right > .uper-box > .course-title {
  margin-top: 102px;
}

.main-page-container
  > .container
  > .box-right
  > .uper-box
  > .course-title
  > h1 {
  color: #fff;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-page-container
  > .container
  > .box-right
  > .uper-box
  > .course-title
  > h3 {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-page-container > .container > .box-right > .bottom-box {
  margin-top: 40px;
  padding: 0 45px 0 0;
}

.main-page-container > .container > .box-right > .bottom-box h2 {
  color: #000;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-page-container > .container > .box-right > .bottom-box p {
  min-height: 300px;
  margin-top: 18px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-page-container > .container > .box-right > .bottom-box button {
  margin-top: 61px;
  border-radius: 15px;
  background: #a51c30;
  width: 170px;
  height: 62px;
  flex-shrink: 0;
  border: none;
  color: white;
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 51px;
}

.main-page-container > .container > .box-left {
  background: white;
  width: 530px;
  height: 972px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid grey;
  background: #fff;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 100px;
}

.box-left > .img-container > img {
  border-radius: 15px 15px 0px 0px;
  width: 530px;
  height: 298px;
  flex-shrink: 0;
}

.box-left > .item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #b7b7b7;
  padding: 0 0 17px 0;
  margin: 23px;
}

.box-left > .item-container > .right-itens > img {
  width: 28px;
  height: 27px;
  flex-shrink: 0;
}

.box-left > .item-container > p {
  color: #434343;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box-left > .item-container > .right-itens {
  display: flex;
  gap: 6px;
  align-items: center;
}

.box-left > .item-container > .right-itens > p {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tag-container {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  max-width: 250px;
}

.tag {
  border-radius: 15px;
  background: #a51c30;
  height: 19px;
  min-width: 50px;
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 11px;
  flex-shrink: 0;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-topico {
  color: #fff;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 11px;
  flex-shrink: 0;
}

.about-instructors {
  margin-top: 40px;
  min-height: 466px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.about-instructors > h1 {
  color: #000;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-instructors > .cards-container {
  margin-top: 40px;
  justify-content: center;
  justify-items: center;
  gap: 200px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
}
