<div class="main-page-container">
  <div class="container">
    <div class="box-right">
      <div class="uper-box">
        <div class="course-title">
          <h1>Curso Básico de Machine Leaning e data Science.</h1>
          <h3>
            Cursus in hac habitasse platea dictumst quisque sagittis purus.
            Sapien faucibus et molestie ac.
          </h3>
        </div>
        <button type="about-button">Sobre</button>
      </div>

      <div class="bottom-box">
        <h2>Descrição</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ullamcorper sit amet risus nullam eget. Euismod lacinia at quis risus
          sed vulputate odio ut. Pellentesque eu tincidunt tortor aliquam.
          Cursus in hac habitasse platea dictumst quisque sagittis purus. Sapien
          faucibus et molestie ac. Egestas dui id ornare arcu odio ut sem nulla.
          Erat imperdiet sed euismod nisi porta lorem mollis. Rhoncus mattis
          rhoncus urna neque viverra justo. Purus semper eget duis at tellus at.
          Elementum sagittis vitae et leo duis ut. Ornare massa eget egestas
          purus. Tristique et egestas quis ipsum suspendisse ultrices. Aliquam
          ultrices sagittis orci a scelerisque purus semper eget duis. Sagittis
          vitae et leo duis ut. Commodo quis imperdiet massa tincidunt nunc
          pulvinar sapien. Ullamcorper dignissim cras tincidunt lobortis feugiat
          vivamus at augue eget. Ac odio tempor orci dapibus ultrices in iaculis
          nunc sed. Nunc faucibus a pellentesque sit.
        </p>
        <button type="">Iniciar</button>
      </div>
    </div>
    <div class="box-left">Evandro</div>
  </div>
  <div class="about-instructors">
    <h1>Professores</h1>
    <div class="cards-container">
      <div class="instructors-info">
        <img
          src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png"
          alt="Foto-perfil" />
        <h3>Evandro Mariano</h3>
        <p class="formacao1">Bacharelando em Sistemas de Informação</p>
        <p class="formacao2">Graduado em Matemática</p>
      </div>
    </div>
  </div>
</div>
