<div class="box-container">
  <div class="main-page-container">
    <div class="container">
      <div class="box-right">
        <div class="uper-box">
          <div class="course-title">
            <h1>Curso Básico de Machine Leaning e data Science.</h1>
            <h3>
              Cursus in hac habitasse platea dictumst quisque sagittis purus.
              Sapien faucibus et molestie ac.
            </h3>
          </div>
          <button type="about-button">Sobre</button>
        </div>

        <div class="bottom-box">
          <h2>Descrição</h2>
          <p>
            {{ curso.descricao }}
          </p>
          <button type="">Iniciar</button>
        </div>
      </div>

      <div class="box-left">
        <div class="img-container">
          <img
            src="../../../assets/icons/aula1.jpg"
            alt=""
            style="max-width: 100%"
          />
        </div>

        <div class="item-container">
          <div class="right-itens">
            <img
              src="../../../assets/icons/calendario.png"
              alt=""
              style="max-width: 100%"
            />
            <p>Carga horária</p>
          </div>
          <p>4 horas</p>
        </div>

        <div class="item-container">
          <div class="right-itens">
            <img
              src="../../../assets/icons/calendario.png"
              alt=""
              style="max-width: 100%"
            />
            <p>Disciplina</p>
          </div>
          <p>Machine Learning</p>
        </div>

        <div class="item-container">
          <div class="right-itens">
            <img
              src="../../../assets/icons/calendario.png"
              alt=""
              style="max-width: 100%"
            />
            <p>Disciplina</p>
          </div>
          <p>Machine Learning</p>
        </div>

        <div class="item-container">
          <div class="right-itens">
            <img
              src="../../../assets/icons/calendario.png"
              alt=""
              style="max-width: 100%"
            />
            <p>Certificado</p>
          </div>
          <p>Machine Learning</p>
        </div>

        <div class="item-container">
          <div class="right-itens">
            <img
              src="../../../assets/icons/calendario.png"
              alt=""
              style="max-width: 100%"
            />
            <p>Tópicos abordados</p>
          </div>

          <div class="tag-container">
            <div class="tag" *ngFor="let topico of curso.topicos">
              {{ topico }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-instructors">
    <h1>Professores</h1>
    <div class="cards-container">
      <div class="" *ngFor="let professor of curso.professores">
        <app-instructor-info-card
          imgperfil="{{ professor.imgperfil }}"
          nome="{{ professor.nome }}"
          formacao1="{{ professor.formacao1 }}"
          formacao2="{{ professor.formacao2 }}"
        ></app-instructor-info-card>
      </div>
    </div>
  </div>
</div>
