body {
  background: #d9d9d9;
}

.main-page-container {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #08072e,
    #08072e 50vh,
    #d9d9d9 50vh,
    #d9d9d9
  );
  padding: 0 200px;
  margin-top: 100px;
  color: white;
  display: flex;
  flex-direction: column;
}

.main-page-container > .container {
  display: flex;
}

.main-page-container > .container > .box-right {
  /* border: 1px solid red; */
  width: 945px;
  width: 65%;
  height: 972px;
  flex-shrink: 0;
}

.main-page-container > .container > .box-right > .uper-box {
  /* border: 1px solid green; */
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-page-container > .container > .box-right > .uper-box > button {
  border-radius: 15px;
  background: #a51c30;
  width: 170px;
  height: 62px;
  flex-shrink: 0;
  border: none;
  color: white;
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 51px;
}

.main-page-container > .container > .box-right > .uper-box > .course-title {
  margin-top: 102px;
}

.main-page-container
  > .container
  > .box-right
  > .uper-box
  > .course-title
  > h1 {
  color: #fff;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-page-container
  > .container
  > .box-right
  > .uper-box
  > .course-title
  > h3 {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-page-container > .container > .box-right > .bottom-box {
  margin-top: 40px;
}

.main-page-container > .container > .box-right > .bottom-box h2 {
  color: #000;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-page-container > .container > .box-right > .bottom-box p {
  margin-top: 18px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-page-container > .container > .box-right > .bottom-box button {
  margin-top: 61px;
  border-radius: 15px;
  background: #a51c30;
  width: 170px;
  height: 62px;
  flex-shrink: 0;
  border: none;
  color: white;
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 51px;
}

.main-page-container > .container > .box-left {
  width: 530px;
  width: 35%;
  height: 972px;
  flex-shrink: 0;
}

.about-instructors {
  margin-top: 40px;
  min-height: 466px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.about-instructors > h1 {
  color: #000;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-instructors > .cards-container {
  margin-top: 40px;
  justify-content: center;
  justify-items: center;
  gap: 200px;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
