.menu-bar-container {
  display: flex;
  background: rgba(40, 51, 83, 255);
  background: var(--azul-cobalto);
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
  height: 100px;
}

.btn-container {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.btn-container > .cursos {
  width: 174px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  color: #283353;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #fff;
}

.imagem-logo-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.imagem-logo-container > img {
  width: 56px;
  height: 70px;
  flex-shrink: 0;
}

.imagem-logo-container > .logo-title {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagem-logo-container > .logo-title > .logo-name1 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.imagem-logo-container > .logo-title > .logo-name2 {
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-box-container {
  /* border: 1px solid red; */
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.search-box-container > .barra-pesquisa {
  width: 265px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  color: #283353;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-box-container > button {
  background: none;
  border: none;
  width: 60px;
  height: 60px;
}

.search-box-container > button > img,
.search-box-container > .btn-login > img,
.search-box-container > .btn-pesquisa > img {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.menu {
  --s: 40px; /* control the size */
  --c: white; /* the color */

  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
    content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000)
    repeat-y content-box border-box;
  background:
    var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size:
    20% 80%,
    40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
  cursor: pointer;
  transition:
    background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.menu:before,
.menu:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
}
.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
}
