<div class="menu-bar-container">
  <div class="btn-container">
    <input type="checkbox" role="button" aria-label="Display the menu" class="menu" />
    <button type="" class="cursos">Cursos</button>
  </div>

  <div class="imagem-logo-container">
    <img src="../../../assets/icons/ufpa-logo.png" alt="" />
    <div class="logo-title">
      <div class="logo-name1">UFPA</div>
      <div class="logo-name2">Universidade Federal do Pará</div>
    </div>
  </div>

  <div class="search-box-container">
    <input type="text" name="" value="" class="barra-pesquisa" placeholder="Buscar" />

    <button type="">
      <img src="../../../assets/icons/lupa.png" alt="" />
    </button>

    <button type="">
      <img src="../../../assets/icons/login-icon.png" alt="" class="login-icon" />
    </button>
  </div>
</div>
