.menu-bar-container {
  display: flex;
  background: rgba(40, 51, 83, 255);
  justify-content: space-around;
  /* border: 1px solid red; */
  height: 80px;
  padding: 0 45px;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cursos {
  border-radius: 5px;
  height: 50px;
  width: 150px;
}

.menu {
  border-radius: 5px;
  height: 50px;
  width: 50px;
}

.imagem-logo-container {
  display: flex;
  flex-direction: row;
  height: 70px;
  gap: 5px;
}

.imagem-logo-container > img {
  width: auto;
  height: auto;
}

.logo-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-title > h1,
h3 {
  color: white;
  font-family: Merriweather, serif;
}

.logo-name {
  color: white;
  font-family: Merriweather, serif;
}

.logo-title > h1 {
  border: 1px solid grey;
}

.search-box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-pesquisa {
  border-radius: 5px;
  background: white;
  height: 30px;
  width: 30px;
}

.barra-pesquisa {
  border-radius: 5px;
  height: 30px;
  width: 200px;
}
